* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: top;
}

button {
    cursor: pointer;
    border: none;
    background: transparent;
    color: inherit;
}

.flex {
    display: flex;
}

.just-c {
    justify-content: center;
}

.just-s {
    justify-content: space-between;
}

.align-c {
    align-items: center;
}

.wrap {
    width: 1000px;
    display: flex;
}

header {
    border: 1px solid #0f0;
    width: 200px;
}
header h1{
    height: 100px;
}

nav {
    width: 90%;
    margin: auto;
}

nav a {
    display: block;
}

.main-menu {
    text-align: center;
}

.main-menu>a {
    border: 1px solid #000;
    padding: 5px;
}

.main-menu:hover>a {
    color: #fff;
    background: #006ed0;
}

.sub-menu {
    display: none;
}

.sub-menu li a {
    padding: 5px;
}

.sub-menu li:hover >a {
    color: #fff;
    background: #006ed0;
}


main {
    width: 800px;
}

/*slide*/
.slide-container {
    height: 350px;
    overflow: hidden;
}

.slide-wrap {
    position: relative;
}

.slide {
    position: relative;
}

/*contents*/
.contents {
    width: 800px;
    border: 1px solid #000;
    height: 200px;
}


.contents>div {
    width: calc(800px/2);
}

.tab-list ul li {
    padding: 10px;
    border: 1px solid #000;
    margin-bottom: 10px;

}

.tab-list li a {
    display: block;
}

.tab-list li.on {
    color: #fff;
    background: #006ed0;
}

.notice li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

.notice li:hover {
    background: #eee;
}

.notice li a {
    width: 70%;
    display: block;
}

.gallery {
    padding: 10px;
    display: none;
}

.gallery img {
    width: 100%;
}

.banner,
.rightnow {
    position: relative;
}

.banner p,
.rightnow p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    background: #006ed0;
    color: #fff;
}

/*footer*/
footer {
    height: 100px;
    border: 1px solid #000;
}

.popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #000;
    background: #fff;
    padding: 55px;
}
.popup h3,
.popup p {
    border-bottom: 1px solid #ccc;
    padding: 20px;
}

.popup a {
    display: block;
    position: absolute;
    background: #000;
    right: 0%;
    bottom: 0%;
    padding: 10px;
    color: #fff;
}