* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: top;
}

button {
    cursor: pointer;
    border: none;
    background: transparent;
    color: inherit;
}

.flex {
    display: flex;
}

.just-s {
    justify-content: space-between;
}

.just-c {
    justify-content: center;
}

.align-c {
    align-items: center;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100% - 100px);
}


:root {
    --main-color: #032e8a;
    --sub-color: #5987dd;
}

.family-site {
    float: right;
    height: 50px;
    width: 200px;
}

.familysite select {
    float: right;
    width: 180px;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 14px;
}

header {
    width: 200px;
    background: #b8d1ff;
}

nav {
    width: 90%;
    margin: auto;
    text-align: center;
}

nav a {
    display: block;
}

.main-menu>a {
    padding: 10px;
    border-bottom: 1px solid #000;
}

.main-menu:hover>a {
    color: #fff;
    background: var(--main-color);
}

.sub-menu {
    display: none;
}

.sub-menu a {
    display: block;
    padding: 10px;
}

.sub-menu li:hover a {
    color: #fff;
    background: var(--sub-color);
}

.contents {
    width: 400px;
    
}

.notice,
.gallery {
    border-bottom: 1px dotted #000;
    height: 40%;
}

.link {
    height: 20%;
}

.notice h2,
.gallery h2 {
    display: inline-block;
    border: 2px solid #000;
    border-bottom: 1px solid #fff;
    padding: 5px;
}
.notice h2:hover,
.gallery h2:hover{
    background: #5987dd;
    color: #fff;
}
.notice ul {
    border-top: 2px solid #000;
    padding: 10px;
}
.notice li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.notice li a {
    display: block;
    padding: 5px;
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.notice li:hover {
    background: #ccc;
}

.gallery ul {
    justify-content: space-around;
    text-align: center;
    border-top: 2px solid #000;
    padding: 10px;
}

.link ul {
    gap: 13px;
    text-align: center;
    padding: 15px;
}

.slide-container {
    width: calc(100% - 200px - 400px);
    overflow: hidden;
}

.slide-wrap {
    position: relative;
}

.slide {
    position: relative;
}

footer{
    height: 100px;
    background: var(--sub-color);
}

.modal {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #000;
    padding: 50px;
    background: #fff;
}

.popup h3,
.popup p {
    border-bottom: 2px dotted #ccc;
    padding: 20px;
}

.popup a {
    display: block;
    position: absolute;
    background: #b8d1ff;
    right: 0%;
    top: 0%;
    padding: 10px;
    color: #fff;

}